.profile__edit-button {
  display: grid;
  grid-column: 3;
  align-self: center;
  margin: 0 0 0 18px;
  background-image: url(../../../images/icons/edit-button.svg);
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: #000;
  padding: 0;
  border: 0;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 387px) {
  .profile__edit-button  {
    background-image: url(../../../images/icons/edit-button-small.svg);
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
  }
}
