.popup-add-button__form {
  width: 430px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.150);
}

@media screen and (max-width: 500px) {
  .popup-add-button__form  {
    width: 282px;
  }
}
