.popup__close-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/icons/close-icon.svg);
  background-color: transparent;
  border: 0;
  padding: 0;
  position: relative;
  left: 8px;
  bottom: 40px;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .popup__close-button  {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/icons/close-icon-small.svg);
    position: absolute;
    bottom: calc(100% + 16px);
    left: calc(100% - 20px);
  }
}
